html {
    font-size: 10px;
}
body {
    font-family: "PT Sans Caption", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #364844;
}
.header {
    &-top {
        &__wrapper {
            max-width: 113.7rem;
            margin: 0 auto;
            height: 6.7rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__left {
            display: flex;
            margin-top: 0.5rem;
            .logo {
                margin-right: 2.387rem;
            }
            .adress {
                display: flex;
                &__text {
                    line-height: 8px;
                    .street {
                        color: #868686;
                    }
                }
                .vector {
                    margin-right: 0.665rem;
                }
            }
        }
        &__right {
            display: flex;
            .whatsapp {
                display: flex;
                &__logo {
                    margin-top: 0.5rem;
                    margin-right: 1.13rem;
                }
                &__number {
                    margin-top: 1rem;
                    margin-right: 3.5rem;
                    font-size: 16px;
                }
            }
            .sign-up {
                &__button {
                    width: 19.6rem;
                    height: 4.3rem;
                    font-size: 14px;
                    background-color: #0dbc91;
                    color: #fff;
                    border-radius: 50px;
                }
            }
        }
    }
    &-bottom {
        background-color: #1fa181;
        &__wrapper {
            max-width: 113.7rem;
            margin: 0 auto;
            height: 4.3rem;
        }
        .navigation {
            &__list {
                padding-left: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 48.2rem;
                color: #fff;
                cursor: pointer;
                list-style: none;
            }
            &__item {
                font-size: 16px;
                margin-top: 1rem;
            }
        }
    }
}
.main {
    .main-top {
        background-color: #f8fbfa;
        display: flex;
        justify-content: space-between;
        &__left {
            width: 50%;
            .main-textblock {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &__title {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 47px;
                    max-width: 36.7rem;
                }
                &__text {
                    font-size: 16px;
                    line-height: 24px;
                    max-width: 36.7rem;
                }
            }
        }
    }
    .main-bottom {
        &__wrapper {
            max-width: 114rem;
            margin: 10rem auto 3.9rem auto;
            background-color: #e2f0ef;
        }
    }
    .check-up {
        display: flex;
        .check-up-left {
            width: 50%;
            &__wrapper {
                margin: 5.3rem 0 5.6rem 6.3rem;
            }
        }
        &__title {
            font-weight: 700;
            font-size: 38px;
            line-height: 49px;
            margin-bottom: 0.2rem;
        }

        &__text {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 1.6rem;
        }

        &__list {
            list-style-image: url(../img/Ellipse.png);
        }

        &__item {
            font-size: 16px;
            line-height: 28px;
        }

        .price {
            display: flex;
            &__now {
                font-size: 20px;
                line-height: 26px;
                margin-right: 1.6rem;
            }

            &__then {
                text-decoration-line: line-through;
                color: #868686;
                font-size: 16px;
                line-height: 24px;
            }
        }

        &__buttons {
            display: flex;
        }

        &__sign-in {
            height: 4.3rem;
            width: 19.6rem;
            background: #0dbc91;
            border-radius: 50px;
            border: none;
            margin-right: 1.4rem;
            color: #ffffff;
        }

        &__more {
            height: 4.3rem;
            width: 19.6rem;
            border: 1px solid #0dbc91;
            border-radius: 50px;
            color: #0dbc91;
            background-color: #e2f0ef;
        }
        .check-up-right {
            clip-path: polygon(0% -60%, 100% 0%, 100% 600%);
        }
    }
    .controlling-panel {
        display: flex;
        justify-content: center;
        margin-bottom: 9.8rem;
        &__numbers {
            font-size: 18px;
            line-height: 23px;
            margin: 0 3.6rem;
            span {
                color: #868686;
            }
        }
        a {
            cursor: pointer;
        }
    }
}
.footer {
    height: 14.4rem;
    background: #08664f;
    &__wrapper {
        max-width: 113.7rem;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
    }

    &__nav {
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        margin-right: 3rem;
        cursor: pointer;
        color: #fff;
    }
}
.socials {
    display: flex;
    &__instagram {
        margin-right: 1.5rem;
    }

    &__whatsapp {
        margin-right: 1.5rem;
    }

    &__telegram {
        margin-right: 1.5rem;
    }
}
